@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 84, 121, 247; /* Original blue color */
  --background-end-rgb: 150, 180, 255; /* Lighter blue color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 84, 121, 247; /* Original blue color for dark scheme */
    --background-end-rgb: 150, 180, 255; /* Lighter blue color for dark scheme */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
